{% extends 'admin.html.twig' %}

{% block title %}Edit Invoice{% endblock %}

{% block body %}

    <div class="container navbar-fixed-top"  style="position: relative; top: 30em">

        {{ include('Errors/errors.html.twig') }}

        <h3 style="text-align: center; color: red; background-color: black"><em>{% trans %}Edit a invoice{% endtrans %}</em></h3><br>

        {{ include('invoice/_form.html.twig', {'button_label': 'Update' | trans}) }}

        <a href="{{ path('invoice_index') }}"><button class="btn btn-primary btn-sm" style="background-color: blueviolet">{% trans %}Back to list{% endtrans %}</button></a><br><br>

        {{ include('invoice/_delete_form.html.twig') }}<br><br>
    </div>
{% endblock %}
