{% if is_granted('ROLE_ADMIN') %}
    {%  set page = 'admin.html.twig' %}
{% elseif is_granted('ROLE_COACH') %}
    {% set page =  'coach.html.twig' %}
{% elseif is_granted('ROLE_MEMBER') %}
    {% set page = 'member.html.twig' %}
{% elseif is_granted('ROLE_USER') %}
    {% set page = 'member.html.twig' %}
{% endif %}

{% extends page %}

    {% block title %}{% trans %}Change Password {% endtrans%} {% endblock %}

    {% block body %}

        <div class="container navbar-fixed-top" style="position: relative; top: 15em"><br><br><br>
            <h3 style="text-align: center; color: red; background-color: black"><strong><em>{% trans %}Change your password {% endtrans %}</em></strong></h3>
            <br><br>
            {{  form(form) }}
        </div>

    {% endblock %}

