{% if is_granted('ROLE_ADMIN') %}
    {%  set page = 'admin.html.twig' %}
{% elseif is_granted('ROLE_MEMBER') %}
    {% set page =  'member.html.twig' %}
{% elseif is_granted('ROLE_COACH') %}
    {% set page = 'coach.html.twig' %}
{% elseif is_granted('ROLE_USER') %}
    {% set page = 'member.html.twig' %}
{% endif %}

{% extends page %}

{% block title %}{% trans %}Change Password{% endtrans%} {% endblock %}

{% block body %}

    <div class="container" style="position: relative; top: 10em"><br><br><br>
        <h3 style="text-align: center; color: red; background-color: black"><strong><em>{% trans %}Changing the password for{% endtrans %} {{ app.user.firstname }} {{ app.user.name }} ?</em></strong></h3>
        <br><br>
        <form action="" method="post">
            <div class="form-field">
                <label for="password">{% trans %}New password{% endtrans %}</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <div class="form-field">
                <label for="password2">{% trans %} Confirm password{% endtrans %} </label>
                <input type="password" id="password2" name="password2" class="form-control">
            </div>
        </form>
    </div>

{% endblock %}