{% if is_granted('ROLE_ADMIN') %}
    {%  set page = 'admin.html.twig' %}
{% elseif is_granted('ROLE_MEMBER') %}
    {% set page =  'member.html.twig' %}
{% elseif is_granted('ROLE_COACH') %}
    {% set page = 'coach.html.twig' %}
{% elseif is_granted('ROLE_USER') %}
    {% set page = 'member.html.twig' %}
{% endif %}

{% extends page %}

{% block title %}Change Password {% endblock %}

{% block body %}

    <div class="container" style="position: relative; top: 10em"><br><br><br>
        <h3 style="text-align: center; color: red; background-color: black"><strong><em>Changement du mot de passe de {{ app.user.firstname }} {{ app.user.name }} ?</em></strong></h3>
        <br><br>
        <form action="" method="post">
            <div class="form-field">
                <label for="password">Nouveau mot de passe</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <div class="form-field">
                <label for="password2">Confirmer le mot de passe</label>
                <input type="password" id="password2" name="password2" class="form-control">
            </div>
        </form>
    </div>

{% endblock %}