{% extends('base.html.twig') %}

{% block body %}

    {% block title %}{% trans %}Reset Password {% endtrans %}{% endblock %}

    {% block body %}

        <div class="container"><br>
            <form action="" method="post"><br>
                <h3 class="h3 mb-3 font-weight-normal" style="color: blue"><em>{% trans %}Reset Password{% endtrans %}</em></h3><br>
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="inputPassword" class="sr-only"><em>{% trans %}YOUR PASSWORD{% endtrans %}</em></label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Please enter your password" required>
                            <input type="hidden" name="token" value="{{ token }}">
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary" type="submit"><em>{% trans %}To send! {% endtrans %}</em></button>
            </form>
        </div>

    {% endblock %}

{% endblock %}