{% extends 'member.html.twig' %}

{% block body %}

    <div class="container" style="position: absolute; top: -15em; margin-top: auto"><br><br>
        <h3 style="text-align: center; color: black; background-color: blueviolet"></h3><br><br>

        <div class="form-group">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="">
                <label class="custom-control-label" for="customSwitch1">Présence</label>
            </div>
        </div>
    </div>

{% endblock %}