{% extends 'admin.html.twig' %}

{% block title %}New Booking{% endblock %}

{% block body %}

    <div class="table-responsive navbar-fixed-top"  style="position: absolute; top: -23em; margin-top: auto">

        {{ include('Errors/errors.html.twig') }}

        <h3 style="text-align: center; color: red; background-color: black"><em>{% trans %}Creation of a reservation{% endtrans %}</em></h3><br><br>

        {{ include('booking/_form.html.twig') }}<br>

        <a href="{{ path('booking_index') }}"><button class="btn btn-primary btn-sm" style="background: blueviolet"><span class="glyphicon glyphicon-home"></span> {% trans %}Back to list{% endtrans %}</button></a><br><br><br><br>
    </div><br><br>

{% endblock %}
