<footer class="py-2 bg-dark text-black-50-50 page-footer font-small blue fixed-bottom">
    <div class="container text-center">
        <small style="color: white">{% trans %}Author{% endtrans %} : Alpha SYLLA | {% trans %}Copyright {% endtrans %} &copy; {% trans %}Management of a sports complex{% endtrans %} 2019-{{ 'now' | date('Y') }}</small>
    </div>
</footer>