<footer class="py-2 bg-dark text-black-50-50 page-footer font-small blue fixed-bottom">
    <div class="container text-center">
        <small style="color: white">Author: Alpha SYLLA | Copyright &copy; Gestion d'un complexe sportif 2019-{{ 'now' | date('Y') }}</small>
    </div>
</footer>