{{ include('menus/menusGestion/menuAbonnement.html.twig') }}
    <div class="container"><br><br>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Durée</th>
                <th scope="col">1 mois</th>
                <th scope="col">3 mois</th>
                <th scope="col">6 mois</th>
                <th scope="col">1 an</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Basic</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@twitter</td>
            </tr>
            <tr>
                <th scope="row">Enfant</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@twitter</td>
            </tr>
            <tr>
                <th scope="row">VIP</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </div>