{% extends 'admin.html.twig' %}

{% block title %}{% trans %}Edit Lesson{% endtrans %}{% endblock %}

{% block body %}

    <div class="container" style="position: relative; top: 34em">

        {{ include('Errors/errors.html.twig') }}

        <h3 style="text-align: center; color: red; background-color: black"><em>{% trans %}Edit a lesson{% endtrans %}</em></h3><br>

        {{ include('lesson/_form.html.twig', {'button_label': 'Update'|trans}) }}<br>

        <a href="{{ path('lesson_index') }}"><button class="btn btn-primary btn-sm" style="background-color: blueviolet"><span class="glyphicon glyphicon-home"></span> {% trans %}Back to list{% endtrans %}</button></a><br><br>

        {{ include('lesson/_delete_form.html.twig') }}<br><br><br>

    </div><br><br>

{% endblock %}
