{% extends 'admin.html.twig' %}

{% block title %}New Lesson{% endblock %}

{% block body %}

    <div class="table-responsive navbar-fixed-top" style="position: relative; top: 58em">

        <h3 style="text-align: center; color: red; background-color: black"><em>Création d'un cours</em></h3><br><br>

        {{ include('lesson/_form.html.twig') }}

        <a href="{{ path('lesson_index') }}"><button class="btn btn-outline-primary btn-sm">Retour</button></a><br><br><br><br><br>

    </div><br>

{% endblock %}
