{% extends 'admin.html.twig' %}

{% block title %}New Club{% endblock %}

{% block body %}

    <div class="table-responsive navbar-fixed-top" style="position: relative; top: 35em">

        {{ include('Errors/errors.html.twig') }}

        <h3 style="text-align: center; color: red; background-color: black"><em>{% trans %}Creation of a new club{% endtrans %}</em></h3><br>

        {{ include('club/_form.html.twig') }}<br>

        <a href="{{ path('club_index') }}"><button class="btn btn-primary btn-sm" style="background: blueviolet"><span class="glyphicon glyphicon-home"></span> {% trans %}Back to list{% endtrans %}</button></a><br><br><br><br>

    </div>

{% endblock %}
