{% extends 'admin.html.twig' %}

{% block title %}Edit Subscription{% endblock %}

{% block body %}

    <div class="container" style="position: relative; top: 105em">

        <h3 style="text-align: center; color: red; background-color: black"><strong><em>Éditer un inscrit</em></strong></h3><br>

        {{ include('subscription/_form.html.twig', {'button_label': 'Sauver'}) }}

        <a href="{{ path('subscription_index') }}"><button class="btn btn-primary btn-sm" style="background-color: blueviolet">Retour</button></a>

        {{ include('subscription/_delete_form.html.twig') }}

    </div><br><br>

{% endblock %}
