{% extends 'admin.html.twig' %}

{% block title %}{% trans %}New Subscription{% endtrans %}{% endblock %}

{% block body %}

    <div class="table-responsive navbar-fixed-top" style="position: relative; top: 40em">

        {{ include('Errors/errors.html.twig') }}

        <h3 style="text-align: center; color: red; background-color: black"><em>{% trans %}Create a subscription{% endtrans %}</em></h3><br><br>

        {{ include('subscription/_form.html.twig') }}<br>

        <a href="{{ path('subscription_index') }}"><button class="btn btn-primary btn-sm" style="background: blueviolet"><span class="glyphicon glyphicon-home"></span> {% trans %}Back to list{% endtrans %}</button></a><br><br><br><br>

    </div><br><br>

{% endblock %}
