{% extends 'admin.html.twig' %}

{% block title %}Edit Hall{% endblock %}

{% block body %}

    <div class="container navbar-fixed-top"  style="position: relative; top: 30em">

        <h3 style="text-align: center; color: red; background-color: black"><em>Éditer une salle</em></h3><br>

        {{ include('hall/_form.html.twig', {'button_label': 'Sauver'}) }}<br>

        <a href="{{ path('hall_index') }}"><button class="btn btn-primary btn-sm" style="background-color: blueviolet">Retour</button></a><br><br>

        {{ include('hall/_delete_form.html.twig') }}<br><br><br>

    </div>

{% endblock %}
