{{ form_start(form) }}
    {{ form_widget(form) }}<br><br>
    <button class="btn btn-outline-primary btn-sm" style="color: white; background-color: blue"><span class="glyphicon glyphicon-floppy-saved"></span> {{ button_label|default('Save'|trans) }}</button>
{{ form_end(form) }}
