{% extends 'admin.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="table-responsive navbar-fixed-top"  style="position: relative; top: 105em">

        <h3 style="text-align: center; color: red; background-color: black"><em>{% trans %}Creation of a new user{% endtrans %}</em></h3><br><br>

        {{ include('user/_form.html.twig') }}

        <a href="{{ path('user_index') }}"><button class="btn btn-outline-primary btn-sm">{% trans %}Back to list{% endtrans %}</button></a><br><br><br><br>
    </div><br><br>
{% endblock %}
