{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit Nursery{% endtrans %}{% endblock %}

{% block body %}

    <div class="container navbar-fixed-top"  style="position: relative; top: 108em">

        {{ include('Errors/errors.html.twig') }}

        <h3 style="text-align: center; color: red; background-color: black"><em>{% trans %}Edit Nursery{% endtrans %}</em></h3>

        {{ include('nursery/_form.html.twig', {'button_label': 'Update'|trans}) }}

        <a href="{{ path('nursery_index') }}"><button class="btn btn-primary btn-sm" style="background-color: blueviolet">{% trans %}back to list{% endtrans %}</button></a><br><br>

        {{ include('nursery/_delete_form.html.twig') }}<br><br><br>

    </div><br><br>

{% endblock %}
