{% if is_granted ('ROLE_ADMIN') %}
    {% set page = 'admin.html.twig' %}
{% else %}
    {% set page = 'member.html.twig' %}
{% endif %}

{% extends page %}

{% block title %}{% trans %}New Nursery{% endtrans %}{% endblock %}

{% block body %}

    <div class="container navbar-fixed-top"  style="position: relative; top: 33em">

        {{ include('Errors/errors.html.twig') }}

        <h3  style="text-align: center; color: red; background-color: black">{% trans %}Create new Nursery{% endtrans %}</h3><br><br>

        {{ include('nursery/_form.html.twig') }}<br>

        <a href="{{ path('nursery_index') }}"><button class="btn btn-outline-primary btn-sm">{% trans %}Back to list{% endtrans %}</button></a><br><br><br><br>

    </div><br><br>
{% endblock %}
